@font-face{
	font-family: coves;
	src: url('font/CovesLight.otf');
}

@font-face{
	font-family: coves;
	src: url('font/CovesBold.otf');
	font-weight: bold;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: white;
	font-family: coves;
}

#container{
	margin: 0 auto;
	min-height: 100%;
	color: white;
	font-family: coves;
}

/*--- HEADER ---*/

#header{
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	z-index: 9001;
}

.menu {
	float: right;
	height: 100%;
	font-size: 1.5em;
	margin: 0;
	text-align: center;
}

.menu a, .menu:visited{
	display: block;
	padding: 0 10px;
	background: black;
	line-height: 100px;
	color: white;
	text-decoration: none;
}

.menu a:hover{
	position: relative;
	right: 10px;
}

.menu a.active{
	font-weight: bold;
	border-left: 10px solid white;
	//background: white;
	//color: black;
}

a.home {
	background: url('banner.svg') no-repeat;
	float: left;
	margin: 0;
	width: 650px;
	height: 100px;
}

/* If screen is too small, change the header appearance */
@media screen and (max-width: 780px) {
	a.home{
		background: url('banner-small.svg') no-repeat;
		width: 372px;
	}
}

h2{
	margin: 0;
	margin-bottom: 20px;
	font-size: 3em;
}

h3{
	margin: 0;
	font-size: 3em;
}

/*--- CONTENT ---*/

#canvasContainer{
	background: #000;
	height: 100%;
	overflow:hidden;
}

/*--- FOOTER ---*/

#footer{
	height: 100px;
	background: black;
	text-align: center;
	padding: 50px;
	color: #aaa;
}
